extends layout

block content

    .col-md-2.col-sm-0.col-xs-0
    .col-md-8.col-sm-12.col-xs-12
      h1 登录页面
      form(action='', method='POST')
        input(type='text' name='username')
        input(type='password' name='password')
        input(type='submit' value='登录')
    .col-md-2.col-sm-0.col-xs-0